<div class="grid">
    <div class="side1">a</div>
    <div class="side2">b</div>
    <div class="main">
        <div class="chart">
            <canvas id="LiveData"> {{live_chart}} </canvas>

        </div>
        <div class="current">
            <canvas id="CurrentData"> {{current_chart}} </canvas>
        </div>
    </div>
    <div class="top">
        <select id="timelimit" (change)="handleSelection($event)">
            <option value=60>1h</option>
            <option value=720>12h</option>
            <option value=1440 selected>1d</option>
            <option value=2880>2d</option>
            <option value=10080>1w</option>
          </select>
    </div>
    
    <div class="bottom">e</div>
</div>









<!-- <div class="live">
    <div *ngFor="let row of res2.msg">
        <p>{{row.channel}}: {{row.views}}</p>
    </div>
	
</div> -->